<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Mx-Forum was created as a service to the motorcycle community. Whether you're a road rider, a dirt rider, or a scoo- maybe not quite that far... Anybody who enjoys the thrill of riding on two wheels can benefit from this collaborative space. Whether you're wanting to advertise upcoming motorcycle events, reach out to the community for any tips for your riding and motorcycle maintenance, or are just wanting a nosey into what's happening in your town, there's a place for you here!
</p>