<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  If you have an problems or questions please feel free to contact me on 555-825-1434, otherwise just watch me <a href="https://www.youtube.com/watch?v=m_bIaupAeSE">right here</a>.
</p>