<footer class="footer">
  <small>
    <a> The MX FORUM BITCHES </a>
    founder and creator <a href="http://nz.linkedin.com/in/chloegraham">Chloe Graham</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", 'static_pages_about_path' %></li>
      <li><a href="http://google.com/">Google me</a></li>
    </ul>
  </nav>
</footer>